graft src
graft tests
include .gitignore

include apache-2.0.LICENSE
include bsd-new.LICENSE
include mit.LICENSE
include NOTICE

include README.rst
include CHANGELOG.rst
include configure
include configure2
include MANIFEST.in
include requirements-tests.txt
include setup.cfg
include setup.py

prune src/debut.egg-info

global-exclude *.py[co] __pycache__ *.*~
